<section>
    <h1>Postagens:</h1>
    <!-- for para repetir e colocar as postagens enquanto houver, ou seja ele cria vário article -->
    {% for postagem in postagens %}
    <article>
        <header>
            <!-- chamando e colocando os titulos qeu estão no banco de dados -->
            <h2><a href="http://localhost/Projeto-Blog/?pagina=post&id={{postagem.id}}">{{postagem.titulo}}</a></h2>
        </header>

            <!-- colocando as duas chaves chamando o parametro que está na classe homecontroller sem ter que criar o negocio php dentro do html -->
            <p>{{postagem.conteudo}}</p> 
    </article>
    {% endfor %}
</section>